/* 외부에 만들어놓은 css파일 */
/* 이 파일을 링크걸어서 사용하면 됨 */

@charset "UTF-8";

body{
	background: #660033;
	background-image: url("/ch02css/image/rips.jpg");
	background-repeat: repeat-x;
	color: white;
	
}

a{color: #99ffcc;
	font-size: 20px;
	font-weight: 900;
	margin: 15px 0;	
	padding: 15px;
	border: 10px dotted #ffffcc;
	background: #006666;

}

a:hover{
	font-size: 40px;
	padding: 15px;
	border: 30px dotted #ffffcc;
	background: #006666;
	color: #ffffcc;
}
div{
	clear: both;
	margin: 100px;
}
