<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace 설정 : 중복을 배제시키기 위해서 -->
<mapper namespace="com.toojaatte.anaboard.mapper.AnaBoardMapper">
 <!-- id는 mapper 인터페이스의 메서드와 맞춰준다. -->
 <select id="list" resultType="com.toojaatte.anaboard.dto.AnaBoardDTO">
 	select * from (
 		select rownum rnum, no, gradeNo, title, id, writeDate,
 			 hit, reply_cnt, r_cnt, n_cnt
 		from (
 			select a.no, m.gradeNo, a.title, a.id, a.writeDate,
 			 a.hit, a.reply_cnt, a.r_cnt, a.n_cnt
 			from anaboard a, member m
 			where (a.id = m.id)
<!--  			<if test="(word != null and word != ''.toString()) -->
<!--  			or (gradeNoType != null and gradeNoType != ''.toString())  -->
<!--  			or (orderType != null and orderType != ''.toString())"> -->
<!--  				where  -->
<!--  			</if> -->
 			<if test="word != null and word != ''.toString()">
 				and (1=0
	 			<include refid="searchCondition"/>
	 			)
 			</if>
 			<if test="gradeNoType != null and gradeNoType != ''.toString()">
 				and 
 			</if>
 			<if test="(gradeNoType != null and gradeNoType != ''.toString())">
	 			(1=1 
	 			<if test='gradeNoType == "b"'>
	 			and m.gradeNo = 8
	 			</if>
	 			)
 			</if>
 			order by
 			<if test='orderType == null or orderType == "".toString() or orderType=="h"'>
 				no desc
 			</if>
 			<if test='orderType != null or orderType != "".toString()'>
 				<if test='orderType == "rn"'>
 				(r_cnt desc, title desc)
 				</if>
 			</if>
 		)
 	)
 	where rnum between #{startRow} and #{endRow}
 </select>

 <select id="getTotalRow" resultType="java.lang.Integer">
 	select count(*)
 	from anaboard
 	<!-- mybatis에서 문자열이나 문자 데이터는 "'"을 사용하는데 글자가 하나인 경우 char로 취급  -->
 	<!-- 그래서 .toString()을 하면 문자열로 변환된다 -->
 	<!-- word 프로퍼티가 null이나 "" 가 아니면 검색한다. -->
	<if test="word != null and word != ''.toString()">
		where (1=0 
		<include refid="searchCondition"/>
		)
	</if>
 </select>
 
 <!-- 검색에 필요한 조건 : 재활용, 복잡함 -->
 <sql id="searchCondition">
	 <!-- key가 들어가 있으면 인덱스(0 이상)의 수가 나오므로.. -->
	 <!-- 오라클의 문자열 합치기 || 를 사용하여 연결 -->
 	<if test='key.indexOf("t") >= 0 or (key == null or key == "".toString())'>
 		or title like '%' || #{word} || '%'  
 	</if>
<!--  	<if test="key.indexOf('t') >= 0 and key.indexOf('c') >= 0"> -->
<!--  		or -->
<!--  	</if> -->
 	<if test="key.indexOf('c') >= 0">
 		or content like '%' || #{word} || '%'  
 	</if>
<!--  	<if test="(key.indexOf('t') >= 0 or key.indexOf('c') >= 0) -->
<!--  	and key.indexOf('w') >= 0"> -->
<!--  		or -->
<!--  	</if> -->
 	<if test="key.indexOf('w') >= 0">
 		or id like '%' || #{word} || '%'  
 	</if>
 </sql>

 
 <!-- 게시판 글쓰기 처리 -->
 <insert id="write">
 	insert into anaboard(no, title, content, id)
 	values(anaboard_seq.nextval, #{title},
 	 #{content}, #{id})
 </insert>
 <insert id="writeFile">
 	insert into anaboard_file(rno, no, fileName, ori_fileName)
 	values(anaboard_file_seq.nextval, anaboard_seq.currval,
 	 #{fileName}, #{ori_fileName})
 </insert>
 
 <!-- 게시판 글보기 -->
 <select id="view" resultType="com.toojaatte.anaboard.dto.AnaBoardDTO">
 	select no, title, content, id, writeDate,
 	 hit, reply_cnt, r_cnt, n_cnt
 	from anaboard
 	where no = #{no}
 </select>
 
 <!-- 게시판 글보기하면 자동으로 조회수가 1증가되도록 해야한다. -->
 <update id="increaseHit">
 	update anaboard set hit = hit + 1
 	where no = #{no}
 </update>
 
 <!-- 게시판 글수정  : 본인이 작성한 글만 수정가능 -->
 <update id="update">
 	update anaboard
 	set title = #{title}, content = #{content}
 	where no = #{no} and id = #{id}
 </update>
 
 <!-- 게시판 글삭제 -->
 <delete id="delete">
 	delete from anaboard
 	where no = #{no} and id = #{id}
 </delete>
 
</mapper>